// .location-image{
//   width: 80px;
//   height: 75px;
//   display: inline-block;
//   }
// .city-container{
//   cursor: pointer;
// }
// p::first-letter {
//     text-transform: capitalize;
// }
// .modal-close {
//   position: absolute;
//   width: 13%;
//   border-radius: 100%;
//   background: #3f3f3f;
//   margin-left: 38.3rem;
//   font-size: 45px;
//   font-weight: bold;
//   text-align: center;
//   border: none;
//   margin-top: -11rem;
// }
// .modal{
//   display:flex;
//   top:40%;
// }
// .my-modal {
//   top:40%;
// }
// // serach css
// .submenu {
//   width: 400px;
//   min-height: 400px;
//   border: 1px solid #eee;
//   position: absolute;
//   right: 0;
//   box-shadow: 1px 1px 10px 1px #ccc;
//   background: #e3e3e3;
// }
// .searchtext {
//   width: 90%;
//   border: none;
//   border-bottom: 1px solid #ccc;
//   padding: 6px 15px;
//   margin: 5%;
//   border-radius: 10px;
//   background: #fff;
//   outline: none;
//   font-size: 17px;
// }
// .menuentry:hover .submenu {
//   display: block;
// }
// .menuentry:hover .fa-search {
//   padding: 5px;
//   background: #303030;
//   color: #fff;
//   border-radius: 5px;
// }
// .displaynone {
//   display: none;
// }
.fix-height {
    height: 400px;
    width: 100%;
}

.fix-img-height {
    height: 50px;
}

.modal-custom {
    max-width: 75%;
}

.col-xl-2-2 {
    flex: 0 0 16.66666667%;
    max-width: 9.666667%;
}

.placeholder-fandb {
    width: 72%;
    height: 15px;
    background: #383e4b9e;
    float: right;
  }
  
  .placeholder-address {
    width: 72%;
    height: 20px;
    background: #383e4b9e;
    float: right;
  }
  
  .paceholder-venuename {
    width: 100%;
    height: 25px;
    background: #383e4b9e;
  }
  
  .placeholder-bar {
    overflow: hidden;
    position: relative;
  }
  
  .placeholder-bar::before {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(to right, transparent 0%, #2d323d 50%, transparent 100%);
    animation: load 1s infinite;
  }
  
  @keyframes load {
    from {
        left: -150px;
    }
    to {
        left: 100%;
    }
  }
  .loader-style{
  width: 100%;
    height: 400px;
  }
  .loader-width{
    min-width: 17rem;
  }