.error-container{
    margin-left: 25%;
}

.status-code {
    position: absolute;
    width: 893px;
    height: 414px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 288px;
    line-height: 393px;
    text-align: center;
    opacity: 0.5;
    color: #000000;
    
}
div.error-container > img {
    position: relative;
    margin-left: 10%;
    margin-top: 9%;
}
.margin-left-50{
    margin-left: 50%;
}
.margin-left-40{
    margin-left: 40%;
}