        $primary: #0aa5ae;
        $secondary: #2d323e;
        $success: #8fc740;
        $danger: #ff2323;
        $info: #1492e6;
        $warning: #ffac07;
        $light: #fbf8f8;
        $dark: #464646;
        @import '~bootstrap/scss/functions';
        @import '~bootstrap/scss/variables';
        @import '~bootstrap/scss/bootstrap.scss';
        @font-face {
            font-family: gotham-bold;
            src: url('./assets/fonts/gotham-bold.otf');
        }
        
        @font-face {
            font-family: gotham-book;
            src: url('./assets/fonts/gotham-book.otf');
        }
        
        @font-face {
            font-family: gotham-light;
            src: url('./assets/fonts/gotham-light.otf');
        }
        
        @font-face {
            font-family: gotham-medium;
            src: url('./assets/fonts/gotham-medium.otf');
        }
        
        @font-face {
            font-family: gotham-thin;
            src: url('./assets/fonts/gotham-thin.otf');
        }
        /**** Colors ****/
        
         :root {
            --primary: #0aa5ae;
            --secondary: #2d323e;
            --success: #8fc740;
            --info: #1492e6;
            --warning: #ffac07;
            --danger: #ff2323;
            --light: #fbf8f8;
            --dark: #464646;
            --breakpoint-xs: 0;
            --breakpoint-sm: 576px;
            --breakpoint-md: 768px;
            --breakpoint-lg: 992px;
            --breakpoint-xl: 1200px;
            --font-family-gotham-bold: gotham-bold, sans-serif;
            --font-family-gotham-book: gotham-book, sans-serif;
            --font-family-gotham-light: gotham-light, sans-serif;
            --font-family-gotham-medium: gotham-medium, sans-serif;
            --font-family-gotham-thin: gotham-thin, sans-serif;
        }
        /* Default */
        
        @media only screen and (max-width: 1920px) {
            html {
                font-size: 16px;
            }
        }
        
        @media only screen and (max-width: 1600px) {
            html {
                font-size: 12px;
            }
        }
        
        @media only screen and (max-width: 1366px) {
            html {
                font-size: 10px;
            }
        }
        
        .go-bold {
            font-family: var(--font-family-gotham-bold) !important;
        }
        
        .go-book {
            font-family: var(--font-family-gotham-book) !important;
        }
        
        .go-light {
            font-family: var(--font-family-gotham-light) !important;
        }
        
        .go-medium {
            font-family: var(--font-family-gotham-medium) !important;
        }
        
        .go-thin {
            font-family: var(--font-family-gotham-thin) !important;
        }
        
        .font-0 {
            font-size: 0 !important;
        }
        
        .font-0-5 {
            font-size: 0.5rem !important;
        }
        
        .font-0-6 {
            font-size: 0.6875rem !important;
        }
        
        .font-0-8 {
            font-size: 0.8rem !important;
        }
        
        .font-0-875 {
            font-size: 0.875rem !important;
        }
        
        .font-1 {
            font-size: 1rem !important;
        }
        
        .font-1-1 {
            font-size: 1.1rem !important;
        }
        
        .font-1-2 {
            font-size: 1.2rem !important;
        }
        
        .font-1-3 {
            font-size: 1.3rem !important;
        }
        
        .font-1-4 {
            font-size: 1.4rem !important;
        }
        
        .font-1-5 {
            font-size: 1.5625rem !important;
        }
        
        .font-14-a {
            font-size: 14px !important;
        }
        
        .line-height-0 {
            line-height: 0 !important;
        }
        
        .line-height-1 {
            line-height: 1rem !important;
        }
        
        .line-height-1-3 {
            line-height: 1.3rem !important;
        }
        
        .line-height-2-5 {
            line-height: 2.5 !important;
        }
        
        .rounded-5 {
            border-radius: 5rem !important;
        }
        
        .line-height-4-5 {
            line-height: 4.5 !important;
        }
        
        .border-2 {
            border-width: 2px !important;
        }
        
        .border-3 {
            border-width: 3px !important;
        }
        
        .border-4 {
            border-width: 4px !important;
        }
        
        .border-363944 {
            border-color: #363944 !important;
        }
        
        .border-ADADBE {
            border-color: #adadbe !important;
        }
        
        .border-707070 {
            border-color: #707070 !important;
        }
        
        .border-6A6A78 {
            border-color: #6A6A78 !important;
        }
        
        .border-fb {
            border-color: #3b5998 !important;
        }
        
        .rounded-5 {
            border-radius: 5rem !important;
        }
        
        .rounded-6 {
            border-radius: 6px !important;
        }
        
        .rounded-20 {
            border-radius: 20px !important;
        }
        
        .border-radius-left-0 {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        
        .border-radius-right-0 {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
        
        .border-radius-top-left {
            border-top-left-radius: 8px !important;
            border-bottom-left-radius: 8px !important;
        }
        
        .border-radius-top-right {
            border-top-right-radius: 8px !important;
            border-bottom-right-radius: 8px !important;
        }
        
        .bg-modal-lin {
            background-image: linear-gradient(#52596b, #3e4453) !important;
        }
        
        .bg-fb {
            background-color: #3b5998 !important;
        }
        
        .bg-3e4453 {
            background-color: #3e4453 !important;
        }
        
        .bg-343A47 {
            background-color: #343A47 !important;
        }
        
        .bg-373D4A {
            background-color: #373d4a !important;
        }
        
        .bg-373d4b {
            background-color: #373d4b !important;
        }
        
        .bg-373E4B {
            background-color: #373e4b !important;
        }
        
        .bg-8A8A8A {
            background-color: #8a8a8a !important;
        }
        
        .bg-2e323e {
            background-color: #2e323e !important;
        }
        
        .bg-282c38 {
            background-color: #282c38 !important;
        }
        
        .bg-707070 {
            background-color: #707070 !important;
        }
        
        .bg-272b37 {
            background-color: #272b37 !important;
        }
        
        .bg-272c38 {
            background-color: #272c38 !important;
        }
        
        .bg-2d323E {
            background-color: #2d323e !important;
        }
        
        .text-231F20 {
            color: #231f20 !important;
        }
        
        .text-ADADBE {
            color: #adadbe !important;
        }
        
        .text-8A8A8A {
            color: #8a8a8a !important;
        }
        
        .text-707070 {
            color: #707070 !important;
        }
        
        .text-9F9F9F {
            color: #9F9F9F !important;
        }
        
        .text-B3B3B3 {
            color: #b3b3b3 !important;
        }
        
        .text-6A6A78 {
            color: #6A6A78 !important;
        }
        
        .opacity-8 {
            opacity: 0.8 !important;
        }
        
        .p-01 {
            padding: 0.1rem !important;
        }
        
        .p-0-03 {
            padding: 0 0.04rem !important;
        }
        
        .px-6 {
            padding-left: 4rem !important;
            padding-right: 4rem !important;
        }
        
        .py-4-1 {
            padding-top: 4rem !important;
            padding-bottom: 4rem !important;
        }
        
        .ml-10-a {
            margin-left: 10px !important;
        }
        
        .mt-6 {
            margin-top: 6rem !important;
        }
        
        .mb-6 {
            margin-bottom: 6rem !important;
        }
        
        @include media-breakpoint-up(lg) {
            .mt-5-1 {
                margin-top: 5rem !important;
            }
        }
        
        // .mx-18 {
        //     margin-left: 18rem !important;
        //     margin-right: 18rem !important;
        // }
        .mx-19 {
            margin-left: 18rem !important;
            margin-right: 18rem !important;
        }
        
        .mx-23 {
            margin-left: 23rem !important;
            margin-right: 23rem !important;
        }
        
        .ml-n2a {
            margin-left: -2px;
        }
        
        // .mt-n4 {
        //     margin-top: -4% !important;
        // }
        .mt-n4 {
            margin-top: -4% !important
        }
        
        // .mt-n6 {
        //     margin-top: -6% !important;
        // }
        // .mt-13 {
        //     margin-top: -13% !important;
        // }
        .mt-n25 {
            margin-top: -25% !important;
        }
        
        .mt-n30 {
            margin-top: -30% !important;
        }
        
        .mt-n10 {
            margin-top: -10% !important;
        }
        
        .my-10 {
            padding-top: 10rem !important;
            padding-bottom: 10rem !important;
        }
        
        .w-5 {
            width: 5% !important;
        }
        
        .w-6 {
            width: 6% !important;
        }
        
        .w-7 {
            width: 7% !important;
        }
        
        .w-9 {
            width: 9% !important;
        }
        
        .w-10 {
            width: 10% !important;
        }
        
        .w-15 {
            width: 15% !important;
        }
        
        .w-20 {
            width: 20% !important;
        }
        
        // .w-30 {
        //     width: 30% !important;
        // }
        .w-33 {
            width: 33% !important;
        }
        
        .w-35 {
            width: 35% !important;
        }
        
        .w-40 {
            width: 40% !important;
        }
        
        .w-65 {
            width: 65% !important;
        }
        
        .w-90 {
            width: 90% !important;
        }
        
        .h-4r {
            height: 4.5rem !important;
        }
        
        .h-70 {
            height: 70% !important;
        }
        
        .mih-40 {
            min-height: 40% !important;
        }
        
        .align-sub {
            vertical-align: sub !important;
        }
        
        .text-shadow-0 {
            text-shadow: none !important;
        }
        
        .shadow-custom {
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.349) !important;
        }
        
        .shadow-custom-1 {
            box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.161) !important;
        }
        
        .shadow-custom-2 {
            box-shadow: 0px 5px 12px rgba(255, 255, 255, 0.161) !important;
        }
        
        .shadow-custom-3 {
            box-shadow: 0px 3px 6px rgba(212, 212, 212, 0.161) !important;
        }
        
        .shadow-custom-4 {
            box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.349) !important;
        }
        
        .shadow-custom-5 {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.349) !important;
        }
        
        .shadow-custom-6 {
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.161) !important;
        }
        
        .shadow-custom-7 {
            box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.302) !important;
        }
        
        .shadow-custom-8 {
            box-shadow: 0px 0px 3px rgba(10, 165, 174, 1) !important;
        }
        
        .shadow-custom-9 {
            box-shadow: 0px 1px 3px #00000066 !important;
        }
        
        .z-index-1 {
            z-index: 1 !important;
        }
        
        .z-index-99 {
            z-index: 99 !important;
        }
        
        .r-5 {
            right: 5%;
        }
        
        .r-7 {
            right: 7%;
        }
        
        .btn-modal {
            color: #fff;
            background-color: #6a6a78;
            border-color: #6a6a78;
        }
        
        .btn-modal:hover {
            color: #6a6a78;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-modal:focus,
        .btn-modal.focus {
            color: #6a6a78;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-modal.disabled,
        .btn-modal:disabled {
            color: #fff;
            background-color: #6a6a78;
            border-color: #6a6a78;
        }
        
        .btn-modal:not(:disabled):not(.disabled):active,
        .btn-modal:not(:disabled):not(.disabled).active,
        .show>.btn-modal.dropdown-toggle {
            color: #fff;
            background-color: #fff;
            border-color: #005cbf;
        }
        
        .btn-modal:not(:disabled):not(.disabled):active:focus,
        .btn-modal:not(:disabled):not(.disabled).active:focus,
        .show>.btn-modal.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        
        .btn-6a6a7a {
            color: #fff;
            background-color: #6a6a7a;
            border-color: #6a6a7a;
        }
        
        .btn-6a6a7a:hover {
            color: #6a6a7a;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-6a6a7a:focus,
        .btn-6a6a7a.focus {
            color: #6a6a7a;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-6a6a7a.disabled,
        .btn-6a6a7a:disabled {
            color: #fff;
            background-color: #6a6a7a;
            border-color: #6a6a7a;
        }
        
        .btn-6a6a7a:not(:disabled):not(.disabled):active,
        .btn-6a6a7a:not(:disabled):not(.disabled).active,
        .show>.btn-6a6a7a.dropdown-toggle {
            color: #fff;
            background-color: #fff;
            border-color: #6a6a7a;
        }
        
        .btn-6a6a7a:not(:disabled):not(.disabled):active:focus,
        .btn-6a6a7a:not(:disabled):not(.disabled).active:focus,
        .show>.btn-6a6a7a.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        
        .btn-6A6A78 {
            color: #fff;
            background-color: #6A6A78;
            border-color: #6A6A78;
        }
        
        .btn-6A6A78:hover {
            color: #6A6A78;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-6A6A78:focus,
        .btn-6A6A78.focus {
            color: #6A6A78;
            background-color: #fff;
            border-color: #fff;
        }
        
        .btn-6A6A78.disabled,
        .btn-6A6A78:disabled {
            color: #fff;
            background-color: #6A6A78;
            border-color: #6A6A78;
        }
        
        .btn-6A6A78:not(:disabled):not(.disabled):active,
        .btn-6A6A78:not(:disabled):not(.disabled).active,
        .show>.btn-6A6A78.dropdown-toggle {
            color: #fff;
            background-color: #fff;
            border-color: #6A6A78;
        }
        
        .btn-6A6A78:not(:disabled):not(.disabled):active:focus,
        .btn-6A6A78:not(:disabled):not(.disabled).active:focus,
        .show>.btn-6A6A78.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        
        .timing-btn {
            background-size: 100% 100% !important;
            background-position: center center !important;
            border: none;
            color: #000000 !important;
            border-radius: 4px;
            min-width: 8rem;
            padding-top: 0.8rem;
            padding-bottom: 0.8rem;
            font-size: 1rem !important;
        }
        
        .timing-btn:hover {
            background-size: 100% 100% !important;
            background-position: left !important;
            box-shadow: none !important;
            border-color: transparent !important;
            color: #000000 !important;
        }
        
        .morning-btn {
            background: url('./assets/images/img/morning.png');
        }
        
        .afternoon-btn {
            background: url('./assets/images/img/afternoon.png');
        }
        
        .evening-btn {
            background: url('./assets/images/img/evening.png');
        }
        
        .night-btn {
            background: url('./assets/images/img/night.png');
        }
        
        .night-btn span {
            color: black;
        }
        
        .night-btn:hover span {
            color: white;
        }
        .morning-btn:hover span{
            color: black;
        }
        .evening-btn:hover span{
            color: black;
        }
        .afternoon-btn:hover span{
            color: black;
        }
        
        .morning-btn:hover {
            background: url('./assets/images/img/morning-hover.png');
        }
        
        .afternoon-btn:hover {
            background: url('./assets/images/img/afternoon-hover.png');
        }
        
        .evening-btn:hover {
            background: url('./assets/images/img/evening-hover.png');
        }
        
        .night-btn:hover {
            background: url('./assets/images/img/night-hover.png');
            color: blue
        }
        
        .seat-active {
            padding: 0.5rem 1rem;
        }
        
        .back-btn .cls-1 {
            fill: #0aa5ae;
        }
        
        .back-btn .cls-2 {
            fill: #fff;
        }
        
        .back-btn:hover .cls-1 {
            fill: #fff;
        }
        
        .closelarge {
            font-size: 2.5rem;
        }
        
        .fs-20 {
            font-size: 20px;
        }
        
        .back-btn:hover .cls-2 {
            fill: #0aa5ae;
        }
        
        .overlay {
            top: 25%;
            left: 0;
            right: 0;
        }
        
        .overlay-12-5 {
            top: 12.5%;
            left: 0;
            right: 0;
        }
        
        .overlay-20 {
            top: 20%;
            left: 0;
            right: 0;
        }
        
        .overlay-40 {
            top: 40%;
            left: 0;
            right: 0;
        }
        
        .sna-ico-bur,
        .sna-ico-tic,
        .sna-ico-loc {
            width: 25px !important;
            height: 25px !important;
            cursor: pointer;
            transition: all ease-in-out 2s;
        }
        
        .sna-ico-bur:hover,
        .sna-ico-tic:hover,
        .sna-ico-loc:hover {
            transition: all ease-in-out 2s;
        }
        
        .sna-ico-bur:hover {
            content: url('./assets/images/img/bur-hover.svg');
            background-size: 100%;
        }
        
        .sna-ico-tic:hover {
            content: url('./assets/images/img/tic-hover.svg');
            background-size: 100%;
        }
        
        .sna-ico-loc:hover {
            content: url('./assets/images/img/loc-hover.svg');
            background-size: 100%;
        }
        
        body {
            background-color: #272b37;
        }
        /* Placeholder */
        
        #footeremail::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff !important;
        }
        
        #footeremail::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff !important;
        }
        
        #footeremail:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff !important;
        }
        
        #footeremail:-moz-placeholder {
            /* Firefox 18- */
            color: #fff !important;
        }
        
        #headersearch::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff !important;
        }
        
        #headersearch::-moz-placeholder {
            /* Firefox 19+ */
            color: #fff !important;
        }
        
        #headersearch:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff !important;
        }
        
        #headersearch:-moz-placeholder {
            /* Firefox 18- */
            color: #fff !important;
        }
        
        #con-form:-moz-placeholder {
            /* Firefox 18- */
            font-family: var(--font-family-gotham-medium) !important;
            color: #6A6A78 !important;
        }
        
        #con-form::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-family: var(--font-family-gotham-medium) !important;
            color: #6A6A78 !important;
        }
        
        #con-form::-moz-placeholder {
            /* Firefox 19+ */
            font-family: var(--font-family-gotham-medium) !important;
            color: #6A6A78 !important;
        }
        
        #con-form:-ms-input-placeholder {
            /* IE 10+ */
            font-family: var(--font-family-gotham-medium) !important;
            color: #6A6A78 !important;
        }
        
        #con-form:-moz-placeholder {
            /* Firefox 18- */
            font-family: var(--font-family-gotham-medium) !important;
            color: #6A6A78 !important;
        }
        
         ::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: var(--primary) !important;
        }
        
         ::-moz-placeholder {
            /* Firefox 19+ */
            color: var(--primary) !important;
        }
        
         :-ms-input-placeholder {
            /* IE 10+ */
            color: var(--primary) !important;
        }
        
         :-moz-placeholder {
            /* Firefox 18- */
            color: var(--primary) !important;
        }
        /* Footer */
        
        .bg-footer {
            background-color: #191a1e !important;
        }
        /* Header */
        
        .hdr-ico:hover {
            cursor: pointer;
            content: url('./assets/images/img/home-hover.svg');
        }
        
        .back-btn .cls-1 {
            fill: #0aa5ae;
            cursor: pointer;
        }
        
        .back-btn .cls-2 {
            fill: #fff;
            cursor: pointer;
        }
        
        .back-btn:hover .cls-1 {
            fill: #fff;
        }
        
        .back-btn:hover .cls-2 {
            fill: #0aa5ae;
        }
        /* Home Page */
        
        .hdr-sea-sp {
            left: 40%;
            width: 48%;
            height: 20.9375rem;
            z-index: 99;
        }
        
        .hm-tab li a.active .hm-tab-ico svg {
            fill: var(--primary);
        }
        
        .hm-tab li a.active .hm-tab-ico p {
            color: var(--primary);
        }
        
        .hm-tab li a.active {
            color: var(--primary) !important;
            border-bottom: 4px solid var(--primary) !important;
        }
        
        .hm-tab li a .hm-tab-ico:hover p {
            cursor: pointer;
            color: var(--primary);
        }
        
        .hm-tab li a .hm-tab-ico:hover svg {
            cursor: pointer;
            fill: var(--primary);
        }
        
        .hm-tab li a .hm-tab-ico:hover p span svg #icons_light_setting #path {
            cursor: pointer;
            fill: var(--primary);
        }
        
        .tab-badge .badge {
            cursor: pointer;
        }
        
        .tab-badge .badge:hover {
            background-color: var(--primary) !important;
            color: #fff !important;
        }
        
        .hm-pos-bg {
            background-color: #282c38 !important;
        }
        
        .hm-pos-box {
            background-color: #383e4b;
            box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.302);
        }
        /* commented when merged with ultra-2 changes
.hm-pos-box img {
    background-repeat: no-repeat;
    // background-image: linear-gradient(
    //     50deg,
    //     #a8a9ad 0 60%,
    //     #2e323e 0%
    // );
    background-origin: border-box, border-box, border-box, border-box;
    transition: all 0.3s ease-in-out;
    max-height: 270px;
}
*/
        
        .hm-pos-box img {
            background-repeat: no-repeat;
            // background-image: linear-gradient(50deg, #a8a9ad 0 60%, #2e323e 0%);
            background-origin: border-box, border-box, border-box, border-box;
            transition: all 0.3s ease-in-out;
        }
        
        .hm-pos-box:hover img {
            border-radius: 0 !important;
            padding: 0 !important;
            border: 1px solid var(--primary) !important;
            transition: all 0.3s ease-in-out;
            box-shadow: 13px 1.5920408818909386e-15px 114px rgba(10, 165, 174, 0.4);
        }
        
        .hm-pos-box-lft span {
            color: #8a8a8a !important;
            border-color: #8a8a8a !important;
        } 
        
        .custom-backdrop {
            backdrop-filter: blur(5px); /* Adjust blur intensity as needed */
        }
        
        /* Specific footer exclusion */
        footer {
            backdrop-filter: none; /* Remove blur effect for footer */
        }
        /* commented when merged with ultra-2 changes
.hm-pos-box:hover img {
    border-radius: 0 !important;
    // background-image: linear-gradient(
    //     50deg,
    //     #fff 100%,
    //     #fff 0%
    // ) !important;
    padding: 0 !important;
    //border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}
/*

.hm-pos-box:hover img {
    z-index: 99;
    position: relative;
    border-radius: 0 !important;
    background-image: linear-gradient(50deg, #fff 100%, #fff 0%) !important;
    padding: 0 !important;
    border: 1px solid var(--primary) !important;
    transition: all 0.3s ease-in-out;
    box-shadow: 13px 1.5920408818909386e-15px 114px rgba(10, 165, 174, 0.4);

}

.hm-pos-box:hover {
    box-shadow: -3.6739402930577075e-16px 6px 18px rgba(0, 0, 0, 0.30196078431372547);
}

.hm-up-cm {
    cursor: pointer;
}

.hm-up-cm:hover {
    box-shadow: -3.6739402930577075e-16px 6px 18px rgba(255, 255, 255, 0.30196078431372547) !important;
}

.hm-pos-box-lft span {
    color: #8A8A8A !important;
    border-color: #8A8A8A !important;
}

.hm-pos-box-rgt {
    background-color: #262B37 !important;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.302);
}

.hm-pos-box-rgt span {
    line-height: 0.5rem;
}

/* Custom Input */
        
        .custom-checkbox .custom-pro-check::before {
            border-radius: 0 !important;
        }
        
        .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='rgb(52,58,71)' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
            background-size: 80% 80% !important;
        }
        
        .custom-control-input-green:focus~.custom-control-label::before {
            border-color: #747474 !important;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
            border: 1px solid #0aa5ae !important;
        }
        
        .custom-control-input-green:checked~.custom-control-label::before {
            border-color: #747474 !important;
            background-color: #747474 !important;
            border: 1px solid #0aa5ae !important;
        }
        
        .custom-control-input-green:focus:not(:checked)~.custom-control-label::before {
            border-color: #747474 !important;
        }
        /* Profile */
        
        // .pro-ul-tab li a.active {
        //   border-width: 0 !important;
        // }
        // .pro-ul-tab li a.active .pro-tab span {
        //   border-bottom: 4px solid var(--primary) !important;
        //   padding-bottom: 12% !important;
        // }
        .pro-ul-tab a.active {
            color: var(--primary) !important;
            border-bottom: 1px solid transparent !important;
            background-color: #2d323e !important;
        }
        /* Up Coming */
        
        .up-line {
            width: 1px;
            height: 90%;
            margin: auto;
        }
        /* Movie Detail Page */
        
        .ther-list:nth-of-type(odd) {
            background: #2e323e;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.161);
        }
        
        .ther-list img {
            width: 2rem !important;
        }
        
        .wr-rw-tab span:before {
            content: "";
            background-image: url(./assets/images/img/review.svg);
            background-size: 100% 100%;
            padding: 0.8rem;
            margin-right: 0.5rem;
        }
        /* Seat Booking */
        
        .sel-dat {
            top: -3rem;
            left: 4.5rem;
        }
        
        .sel-tim {
            top: -3.5rem;
            left: 4rem;
        }
        
        .seat {
            background-size: 100% 100%;
            background-position: center;
            padding: 1.1rem;
        }
        
        
        /* Slider */
        
        .date-slider .slick-active,
        .time-slider .slick-active,
        .venue-slider .slick-active {
            border-bottom: 2px solid #707070;
            padding-bottom: 0.6rem;
        }
        
        .slick-active:hover,
        .slick-active:focus {
            outline: none !important;
            border-color: var(--primary) !important;
            border-width: 2px important;
        }
        
        // .slick-active:hover h3,
        // .slick-active:hover h4,
        // .slick-active:hover h5,
        // .slick-active:hover p,
        // .slick-active:focus h3,
        // .slick-active:focus h4,
        // .slick-active:focus h5,
        // .slick-active:focus p {
        //     color: var(--primary);
        // }
        
        .slick-prev {
            top: 25%;
            z-index: 99;
            left: -5%;
        }
        
        .slick-next {
            top: 25%;
            right: -5%;
        }
        
        .slick-next-cast {
            top: 40%;
        }
        
        .slick-seat {
            top: 50%;
        }
        
        .slick-month-prev {
            top: 0%;
            z-index: 99;
            left: -13%;
        }
        
        .slick-month-next {
            top: -4%;
            right: -12%;
        }
        /* Modal */
        
        .modal-open .modal {
            backdrop-filter: saturate(180%) blur(20px) brightness(2);
        }
        
        .modal-bg {
            backdrop-filter: saturate(180%) blur(20px) brightness(2);
        }
        
        .modal-custom-26 {
            max-width: 26% !important;
        }
        
        // .modal-custom-30 {
        //     max-width: 30% !important;
        // }
        // .modal-custom-40 {
        //     max-width: 40% !important;
        // }
        // .modal-custom-50 {
        //     max-width: 50% !important;
        // }
        .modal-custom-60 {
            max-width: 100% !important;
        }
        
        .modal-custom-90 {
            max-width: 90% !important;
        }
        
        .mod-loc div img:hover {
            transition: all 2s;
            height: 4.75rem !important;
        }
        
        .mod-loc div img {
            transition: all 2s;
            height: 4.75rem !important;
        }
        
        // .modal-custom {
        //     max-width: 75%;
        // }
        // .mod-loc div:nth-child(1) img:hover{
        //     content: url(./assets/images/img/ahmedabad-hover.svg);
        // }
        // .mod-loc div:nth-child(2) img:hover{
        //     content: url(./assets/images/img/bangalore-hover.svg);
        // }
        // .mod-loc div:nth-child(3) img:hover{
        //     content: url(./assets/images/img/chennai-hover.svg);
        // }
        // .mod-loc div:nth-child(4) img:hover{
        //     content: url(./assets/images/img/delhi-hover.svg);
        // }
        // .mod-loc div:nth-child(5) img:hover{
        //     content: url(./assets/images/img/hyderabad-hover.svg);
        // }
        // .mod-loc div:nth-child(6) img:hover{
        //     content: url(./assets/images/img/jaipur-hover.svg);
        // }
        // .mod-loc div:nth-child(7) img:hover{
        //     content: url(./assets/images/img/kolkatta-hover.svg);
        // }
        // .mod-loc div:nth-child(8) img:hover{
        //     content: url(./assets/images/img/lucknow-hover.svg);
        // }
        // .mod-loc div:nth-child(9) img:hover{
        //     content: url(./assets/images/img/mumbai-hover.svg);
        // }
        // .mod-loc div:nth-child(10) img:hover{
        //     content: url(./assets/images/img/pune-hover.svg);
        // }
        .modal-custom-90 {
            max-width: 90% !important;
        }
        /* Form */
        
        .was-validated .form-control:invalid,
        .form-control.is-invalid {
            background-image: none;
        }
        
        textarea:focus,
        textarea.form-control:focus,
        input.form-control:focus,
        input[type='text']:focus,
        input[type='password']:focus,
        input[type='email']:focus,
        input[type='number']:focus,
        [type='text'].form-control:focus,
        [type='password'].form-control:focus,
        [type='email'].form-control:focus,
        [type='tel'].form-control:focus,
        [contenteditable].form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid #0aa5ae !important;
            outline: -webkit-focus-ring-color auto 0px;
        }
        
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
            border: 1px solid #0aa5ae !important;
            -webkit-text-fill-color: #fff;
            transition: background-color 5000s ease-in-out 0s;
        }
        /* Scroll */
        /* width */
        
         ::-webkit-scrollbar {
            width: 8px;
        }
        /* Track */
        
         ::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px #373d4b;
            border-radius: 10px;
            background-color: #373d4b;
        }
        /* Handle */
        
         ::-webkit-scrollbar-thumb {
            background: #6a6a78;
            border-radius: 10px;
        }
        /* Handle on hover */
        
         ::-webkit-scrollbar-thumb:hover {
            background: #6a6a78;
        }
        
        // end
        //seat layout table
        .table {
            width: auto !important;
        }
        /*movie timing and details*/
        
        .posterimg {
            // height: 310px;
            border-radius: 15px;
        }
        
        // .modal-content {
        //     background-color: transparent !important;
        //     border: transparent;
        //     display: block;
        // }
        .pointer {
            cursor: pointer;
        }
        
        p {
            cursor: default;
        }
        
        #logo {
            background: transparent !important;
        }
        
        // .banner {
        //     min-height: 33rem !important;
        // }
        .card {
            padding: 45% 0 0;
            background: none;
        }
        
        .moviecard {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        
        .outline-none {
            outline: none;
        }
        
        .some-class {
            max-width: 100%;
            width: 90%;
        }
        
        @include media-breakpoint-up(lg) {
            .mt-n13 {
                margin-top: -13% !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .mt-n6 {
                margin-top: -6% !important;
            }
        }
        
        // @media only screen and (max-width: 80%) {
        //     /* For mobile phones: */
        //     [class*="some-class"] {
        //         width: 90%;
        //     }
        // }
        @include media-breakpoint-up(lg) {
            .mt-n4 {
                margin-top: -4% !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .mt-13 {
                margin-top: -13% !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .w-100 {
                width: 100% !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .mw-100 {
                max-width: 100% !important;
            }
        }
        
        @include media-breakpoint-up(sm) {
            .w-100 {
                width: 100% !important;
            }
        }
        
        @include media-breakpoint-up(sm) {
            .mw-100 {
                max-width: 100% !important;
            }
        }
        
        // @include media-breakpoint-up(lg) {
        //     .banner {
        //         min-height: 33rem !important;
        //     }
        // }
        // @include media-breakpoint-up(sm) {
        //     .banner {
        //         min-height: 20rem !important;
        //     }
        // }
        @include media-breakpoint-up(lg) {
            .w-50 {
                width: 50% !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .w-30 {
                width: 30% !important;
            }
        }
        
        @media only screen and (max-width: 1800px) {
            .banner {
                min-height: 33rem !important;
                max-height: 33rem !important;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .banner {
                min-height: 20rem !important;
                max-height: 20rem !important;
            }
        }
        
        @media only screen and (max-width: 1800px) {
            .modal-custom {
                max-width: 75%;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .modal-custom {
                max-width: 100%;
                height: 100vh !important;
            }
        }
        
        @media only screen and (max-width: 1800px) {
            .modal-custom-50 {
                max-width: 50% !important;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .modal-custom-50 {
                max-width: 100% !important;
            }
        }
        
        @media only screen and (max-width: 1800px) {
            .modal-content {
                background-color: transparent !important;
                border: transparent;
                display: block;
            }
        }
        
        @media only screen and (max-width: 600px) {
            .modal-content {
                background-color: transparent !important;
                border: transparent;
                display: block;
                height: 100vh !important;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .mx-18 {
                margin-left: 18rem !important;
                margin-right: 18rem !important;
            }
        }
        .body-color {
            background-color: #020A1C !important;
        }
        
        .bg-0F1628 {
            background-color: #0F1628 !important;
        }
        
        .bg-020A1C {
            background-color: #020A1C !important;
        }
        body {
            background-color: #020A1C !important;
          }

          ::ng-deep #slick-slide-control00,
::ng-deep #slick-slide-control01,
::ng-deep #slick-slide-control02,
::ng-deep #slick-slide-control03 {
    font-size: 0px !important;
}