// .footer{
//     background: #333646;
//     box-shadow: 0px -18px 27px rgba(0, 0, 0, 0.32);
//     border-radius: 0px 0px 10px 10px;
//     border: none;
// }
// .btn-select{
//     background: #F2A72A;
//     border-radius: 10px;
//     border-color: #F2A72A;
//     width: 114px;
//     height: 35px;
//     color: black;
//     font-weight: bold;
//   }
// .btn-cancel{
//     background: rgba(131, 54, 54, 0.68);
//     border-radius: 10px;
//     width: 114px;
//     height: 35px;
//     font-weight: bold;
// }
// .modal-container{
// background: #252734;
// }
.btn-primary {
    color: #fff;
    background-color: #0aa5ae;
    border-color: #0aa5ae;
}

.btn-primary:hover {
    color: #0aa5ae;
    background-color: #fff;
    border-color: #fff;
}