<mp-header></mp-header>
<main role="main">
  <div>
    <div class="row">
      <div class="carousel-container">
        <div class="carousel-overlay">
          <div class="overlay-header-content d-none d-lg-block">
            <div class="row">
              <div class="col">
                <img src="/assets/images/img/Group 23.png" height="28" role="button">
              </div>
              <!-- <div class="col-6 float-right">
                <img src="/assets/images/img/Icon.png">
              </div> -->
            </div>
          </div>
          <div class="overlay-header-content1 d-none d-lg-block">
            <div class="row">
              <div class="col">
                <img src="/assets/images/img/Icon.png" height="28" role="button">
              </div>
              <!-- <div class="col-6 float-right">
                <img src="/assets/images/img/Icon.png">
              </div> -->
            </div>
          </div>
          <!-- <ngx-picture src="https://pbs.twimg.com/media/GDWJJb-WkAAU-Zz?format=jpg&name=large" alt="Movie Poster" class="" [lazyLoad]="false" style="height: 620px;">
                
            </ngx-picture> -->
          <img src="/assets/images/img/Main Header 01.png" alt="" class="px-0 d-none d-lg-block"
            style="height: 80%; width: 100%;" />
          <img src="/assets/images/img/mobile_poster.jpeg" alt="" class="px-0 d-block d-sm-none"
            style="height: 100%; width: 100%;" />
          <img src="/assets/images/img/Main Header 01.png" alt="" class="px-0 d-none d-md-block d-lg-none"
            style="height: 430px; width: 100%;" />
          <div class="gradient-overlay"></div>
          <div class="overlay-content-1 d-block d-md-none">
            <div class="row d-block d-lg-none text-white">
              <div class="col">
                <div class="row">
                  <div class="col mx-3 my-3">
                    <h3 style="font-size: 2.5rem;">Lorem ipsum</h3>
                  </div>
                </div>
                <div class="row d-block d-sm-none">
                  <div class="col my-auto text-center">
                    <button class="btn btn-primary rounded-pill mr-3" style="width: 45%; font-size: 1.5rem;"
                    (click)="openModal(rentTemplate,'rentTemplate')"><i class="fa-solid fa-play"></i> Rent UHD 275</button>
                    <button class="btn btn-primary rounded-pill ml-3" style="width: 45%; font-size: 1.5rem;">
                      <i class="fa-solid fa-play"></i> Trailer</button>
                  </div>
                </div>
                <!-- <div class="row d-block d-sm-none">
                  <div class="col py-3" style="width: 100%;">
                    <button class="btn btn-primary rounded-pill px-1 py-1"
                      style="width: 100%; height: 100%; font-size: medium;"><i class="fa-solid fa-play"></i> Watch
                      Trailer</button>
                  </div>
                </div> -->
                <div class="row d-block d-sm-none mt-3">
                  <div class="col-sm-12 d-flex justify-content-around">
                    <span class="">
                      <img src="\assets\images\img\Button.png" height="55" role="button">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-1.png" height="55" role="button">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-2.png" height="55" role="button">
                    </span>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex my-1 mx-3" style="color: rgb(9,164,173);">
                    <p style="font-size: 1.5rem;">2h 20min 2023 </p>
                    <p style="font-size: 1.5rem;" class="ml-2">BLURAY</p>
                    <p style="font-size: 1.5rem;" class="ml-2">UHD</p>
                    <p style="font-size: 1.5rem;" class="ml-2">U/A</p>
                    <p style="font-size: 1.5rem;" class="ml-2">13+</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex my-1 mx-3">
                    <p style="font-size: 1.5rem;">Suspense - Comedy - Drama</p>
                    <p style="font-size: 1.5rem;" class="pl-4"><span class="text-danger">2B+</span> Streams</p>
                  </div>

                </div>
                <div class="row">
                  <div class="col my-1 mx-3">
                    <p style="font-size: 1.5rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua.</p>
                  </div>
                </div>
                <div class="row d-none d-md-block">
                  <div class="col py-3">
                    <button class="btn btn-primary rounded-pill p-auto my-auto"
                      style=" width: auto; height: 100%; font-size: medium;"
                      (click)="openModal(rentTemplate,'rentTemplate')">Rent: UHD 275</button>
                    <button class="btn btn-primary rounded-pill p-auto ml-4 my-auto"
                      style="width: auto; height: 100%; font-size: medium;"><i class="fa-solid fa-play"></i> Watch
                      Trailer</button>
                  </div>
                </div>
                <div class="row d-none d-md-block">
                  <div class="col pt-3">
                    <span class="">
                      <img src="\assets\images\img\Button.png" height="55" role="button">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-1.png" height="55" role="button">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-2.png" height="55" role="button">
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlay-content d-none d-sm-none d-md-none d-lg-block">
            <div class="row ml-5">
              <div class="col">
                <p style="font-size: 3rem;">Lorem ipsum</p>
              </div>
            </div>
            <div class="row ml-5">
              <div class="col-xl-4 col-6">
                <p style="font-size: 1.3rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
            <div class="row ml-5">
              <div class="col">
                <p style="font-size: 1.3rem;">Suspense - Comedy - Drama</p>
              </div>
            </div>
            <div class="row ml-5">
              <div class="col d-flex" style="color: rgb(9,164,173);">
                <h6>2h 20min 2023 </h6>
                <h6 class="ml-3">BLURAY</h6>
                <h6 class="ml-3">UHD</h6>
                <h6 class="ml-3">U/A</h6>
                <h6 class="ml-3">13+</h6>
              </div>
            </div>
            <div class="row ml-5">
              <div class="col-4 d-flex">
                <img src="/assets/images/img/IMDB.png" style="height: 1.2rem;" class="my-auto">
                <p class="pl-2 my-auto">8.8/10</p>
              </div>
              <div class="col-8">
                <div class="row">
                  <div class="col-12 d-flex">
                    <button class="btn btn-primary rounded-pill px-3 my-auto"
                      style=" width: max-content; height: auto; font-size: 0.9rem;"
                      (click)="openModal(rentTemplate,'rentTemplate')">Rent: UHD 275</button>
                    <button class="btn btn-primary rounded-pill px-3 ml-4 my-auto"
                      style="width: max-content; height: auto; font-size: 0.9rem;"><i class="fa-solid fa-play"></i> Watch
                      Trailer</button>
                    <span class="ml-4 my-auto">
                      <img src="\assets\images\img\Button.png" style="height: 4rem;" role="button" class="my-auto">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-1.png" style="height: 4rem;" role="button" class="my-auto">
                    </span>
                    <span class="ml-1">
                      <img src="\assets\images\img\Button-2.png" style="height: 4rem;" role="button" class="my-auto">
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row ml-5 mt-2">
              <div class="col">
                <p><span class="text-danger">2B+</span> Streams</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="mt-n9 position-relative"
  style="background-color: #0F1628; margin-top: -10%; margin-left: 6%;margin-right: 6%;border-radius: 10px;">
  <div class="container-fluid mt-5 mb-5" style="border-radius: 10%;">
    <div class="row d-none d-md-block d-lg-none  text-white">
      <div class="col">
        <div class="row">
          <div class="col mx-3 my-3">
            <h3 style="font-size: 2.5rem;">Lorem ipsum</h3>
          </div>
        </div>
        <div class="row d-block d-sm-none">
          <div class="col my-auto text-center">
            <button class="btn btn-primary rounded-pill mr-3" style="width: 45%; font-size: 1.5rem;"
            (click)="openModal(rentTemplate,'rentTemplate')"><i class="fa-solid fa-play"></i> Rent UHD 275</button>
            <button class="btn btn-primary rounded-pill ml-3" style="width: 45%; font-size: 1.5rem;">
              <i class="fa-solid fa-play"></i> Trailer</button>
          </div>
        </div>
        <!-- <div class="row d-block d-sm-none">
          <div class="col py-3" style="width: 100%;">
            <button class="btn btn-primary rounded-pill px-1 py-1"
              style="width: 100%; height: 100%; font-size: medium;"><i class="fa-solid fa-play"></i> Watch
              Trailer</button>
          </div>
        </div> -->
        <div class="row d-block d-sm-none mt-3">
          <div class="col-sm-12 d-flex justify-content-around">
            <span class="">
              <img src="\assets\images\img\Button.png" height="55" role="button">
            </span>
            <span class="ml-1">
              <img src="\assets\images\img\Button-1.png" height="55" role="button">
            </span>
            <span class="ml-1">
              <img src="\assets\images\img\Button-2.png" height="55" role="button">
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex my-1 mx-3" style="color: rgb(9,164,173);">
            <p style="font-size: 1.5rem;">2h 20min 2023 </p>
            <p style="font-size: 1.5rem;" class="ml-2">BLURAY</p>
            <p style="font-size: 1.5rem;" class="ml-2">UHD</p>
            <p style="font-size: 1.5rem;" class="ml-2">U/A</p>
            <p style="font-size: 1.5rem;" class="ml-2">13+</p>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex my-1 mx-3">
            <p style="font-size: 1.5rem;">Suspense - Comedy - Drama</p>
            <p style="font-size: 1.5rem;" class="pl-4"><span class="text-danger">2B+</span> Streams</p>
          </div>

        </div>
        <div class="row">
          <div class="col my-1 mx-3">
            <p style="font-size: 1.5rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="col py-3 mx-3">
            <button class="btn btn-primary rounded-pill p-auto my-auto"
              style=" width: auto; height: 100%; font-size: medium;"
              (click)="openModal(rentTemplate,'rentTemplate')">Rent: UHD 275</button>
            <button class="btn btn-primary rounded-pill p-auto ml-4 my-auto"
              style="width: auto; height: 100%; font-size: medium;"><i class="fa-solid fa-play"></i> Watch
              Trailer</button>
          </div>
        </div>
        <div class="row d-none d-md-block">
          <div class="col pt-3 mx-3">
            <span class="">
              <img src="\assets\images\img\Button.png" height="55" role="button">
            </span>
            <span class="ml-3">
              <img src="\assets\images\img\Button-1.png" height="55" role="button">
            </span>
            <span class="ml-3">
              <img src="\assets\images\img\Button-2.png" height="55" role="button">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3 class="text-white mt-5 mb-5 d-none d-xl-block float-right mr-1" style="text-decoration: underline;"
          role="button" (click)="showDetailed()">Related</h3>
        <p class="text-white mt-5 mb-5 d-block d-lg-none float-right border-bottom border-2 border-white"
          style="font-size: 20px;" (click)="showDetailed()">Related</p>
      </div>
      <div class="col-6">
        <h3 class="text-white mt-5 float-left ml-1 d-none d-xl-block" style="text-decoration: underline;" role="button"
          (click)="showDetailed()">
          Detailed</h3>
        <p class="text-white mt-5 mb-5 d-block d-lg-none float-left border-bottom border-2 border-white" style="font-size: 20px;"
          (click)="showDetail = true">Detailed</p>
      </div>
    </div>
    <div class="row mb-5" *ngIf="!showDetail">
      <img src="/assets/images/img/Left Arrow Button.png" class="my-auto ml-3 d-none d-lg-block" style="height: 4rem;"
        role="button">
      <!-- <i class="fa-solid fa-circle-arrow-left my-auto ml-3 d-none d-lg-block"
        style="font-size: 4rem;color: rgb(66,73,83);" role="button"></i> -->
      <div class="col mb-5 p-0" role="button">
        <div class="card p-0 ml-3 float-left d-none d-lg-block"
          style="width:80%; max-width: 25rem; height:21rem; border:2px solid #0aa5ae; border-radius: 10px; background-color: #242834;"
          (mouseenter)="openModal(hoverTemplate,'hoverTemplate')">
          <!--(mouseenter)="openModal(hoverTemplate,'hoverTemplate')"-->
          <div class="row">
            <div class="col" style="text-align: center;">
              <img class="card-img-top mt-2 pb-2"
                src="https://pbs.twimg.com/media/GDWJJb-WkAAU-Zz?format=jpg&name=large" alt="Card image"
                style="width: 94%; height: 14rem; border-radius: 10px;">
            </div>
          </div>

          <div class="card-body py-0 px-3 d-none d-md-block">
            <div class="card-title text-white mb-0">
              <div class="row">
                <div class="col-6">
                  <h6 class="d-none d-lg-block">Madame Web</h6>
                  <h5 class="d-block d-lg-none">Madame Web</h5>
                </div>
                <div class="col-6">
                  <h6 class="float-right d-none d-lg-block">Action/Thriller</h6>
                  <h5 class="float-right d-block d-lg-none">Action/Thriller</h5>
                </div>
              </div>
            </div>
            <div class="card-title text-white mb-0">
              <div class="row">
                <div class="col-6">
                  <h6 class="d-none d-lg-block">English</h6>
                  <h5 class="d-block d-lg-none">English</h5>
                </div>
                <div class="col-6">
                  <h6 class="float-right d-none d-lg-block">U/A</h6>
                  <h5 class="float-right d-block d-lg-none">U/A</h5>
                </div>
              </div>
            </div>
            <div class="card-title text-white mb-0 d-none d-xl-block">
              <div class="row">
                <div class="col-4 pr-0">
                  <div class="d-flex justify-content-center"
                    style="width: auto; height: auto; background-color: #0F1628; border-radius: 20px; border: 2px solid #0aa5ae;">
                    <!-- <span class="d-flex justify-content-start"> -->
                    <img src="/assets/images/img/Subtract.png" style="height: 2vh;" class="ml-1 mr-1 my-auto">
                    <span class="ml-1 mr-2" style="color: #0aa5ae;">2h 30min</span>
                    <!-- </span> -->
                  </div>
                </div>
                <div class="col-4">
                  <h5 class="mt-1" style="text-align: center;">Rent: 250</h5>
                </div>
                <div class="col-4">
                  <div class="float-right my-auto"
                    style="width: auto; height: auto; background-color: #0F1628; border-radius: 20px; border: 2px solid #0aa5ae; display: flex; justify-content: center; align-items: center;">
                    <!-- <span class="d-flex justify-content-center ml-1 mr-1"> -->
                    <img src="/assets/images/img/view.png" style="height: 2vh;" class="ml-2 mr-1">
                    <span class="ml-1 mr-2" style="color: #0aa5ae;">2K</span>
                    <!-- </span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card p-0 ml-4 ml-md-5 float-left d-block d-lg-none"
        style="width:fit-content; height:fit-content; border:2px solid #0aa5ae; border-radius: 10px; background-color: #242834;">
        <div class="row">
          <div class="col" style="text-align: center;">
              <img class="card-img-top m-2 d-block d-md-none" src="https://pbs.twimg.com/media/GDWJJb-WkAAU-Zz?format=jpg&name=large" alt="Card image" style="width: 120px; height: 196px; border-radius: 10px;">
              <img class="card-img-top m-2 d-none d-md-block d-lg-none" src="https://pbs.twimg.com/media/GDWJJb-WkAAU-Zz?format=jpg&name=large" alt="Card image" style="width: 130px; height: 220px; border-radius: 10px;">
          </div>
      </div>
        </div>
      </div>

    </div>

    <div class="m-lg-5 p-lg-5 pb-3 mb-3 text-white" *ngIf="showDetail">
      <div class="">
        <div class="">
          <!-- <div class="container-fluid py-4 bg-0F1628">
              <div class="row">
                  <div class="col-xl-12 text-center">
                      <span class="modal-title go-medium text-primary text-center font-weight-bolder h3"
                          id="langgenreLabel">Filter</span>
                      <button type="button" class="close text-right text-707070 text-shadow-0" data-dismiss="modal"
                          aria-label="Close" data-toggle="modal" data-target="#novenue">
                          <span aria-hidden="true">×</span>

                      </button>
                  </div>
              </div>
          </div> -->
          <div class="text-left bg-0F1628 ml-md-4 ml-0" style="border-radius: 10px; overflow-x: hidden;">
            <div class="row">
              <form class="col-xl-6 col-md-10 col-md-6">
                <div class="my-3">
                  <div class="row">
                    <div class="col-md-4 col-lg-3 col-xl-4">
                      <img src="https://i.ytimg.com/vi/s_76M4c4LTo/maxresdefault.jpg" width="100%" height="100%"
                        style="border-radius: 10px;">
                    </div>

                    <div class=" col-md-8 col-lg-9 col-xl-8 text-white" style="padding-left: 5%; padding-right: 5%;">
                      <div class="row pt-3">
                        <div class="col h3">Madame Web
                        </div>
                      </div>
                      <div class="row pt-3">
                        <div class="col h6" style="font-size: 1.5rem;">Name: Madame Web

                        </div>
                      </div>
                      <div class="row">
                        <div class="col h6" style="font-size: 1.5rem;">Time: 2 hours 35 minutes 52 seconds

                        </div>
                      </div>
                      <div class="row">
                        <div class="col h6" style="font-size: 1.5rem;">Year: 2024

                        </div>
                      </div>
                      <div class="row">
                        <div class="col h6" style="font-size: 1.5rem;">Genre: Sci-fy

                        </div>
                      </div>
                      <div class="row">
                        <div class="col h6" style="font-size: 1.5rem;">Language: English

                        </div>
                      </div>
                      <div class="row">
                        <div class="col h6" style="font-size: 1.5rem;">Subtitle: English

                        </div>
                      </div>
                      <div class="row py-3">
                        <div class="col" style="font-size: 1.5rem;">
                          <span class="pr-3"><i class="fa-solid fa-thumbs-up"></i> 1K</span>
                          <i class="fa-solid fa-thumbs-down"></i> 0
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-secondary" style="background-color: #424953; border-radius: 5px;font-size: 1.5rem;"><i
                              class="fa-solid fa-play"></i> Watch Trailer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="h2 my-2">Cast & Crew</div>
      <div class="h4 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="h2 my-2">Languages</div>
      <div class="h4 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="h2 my-2">Subtitles</div>
      <div class="h4 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="h2 my-2">Directors</div>
      <div class="h4 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="h2 my-2">Producers</div>
      <div class="h4 my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
      <div class="h2 my-2">Studio</div>
      <div class="h4 my-4 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div> -->
      <div class="h3 ml-md-4 ml-0">About the movie</div>
      <p class="ml-md-4 ml-0 mt-4 mb-5" style="font-size: 1.5rem;">Madame Web is a 2024 American superhero film featuring the Marvel Comics character of
        the same name. Produced by Columbia Pictures and Di Bonaventura Pictures in association with Marvel
        Entertainment and TSG Entertainment, and distributed by Sony Pictures Releasing, it is the fourth film in Sony's
        Spider-Man Universe (SSU). The film was directed by S. J. Clarkson from a screenplay she co-wrote with Claire
        Parker and the writing team of Matt Sazama and Burk Sharpless. It stars Dakota Johnson in the title role,
        alongside Sydney Sweeney, Isabela Merced, Celeste O'Connor, Tahar Rahim, Mike Epps, Emma Roberts, and Adam
        Scott. The film depicts the titular character's origin story and involves Cassie Webb (Johnson) confronting her
        past while trying to save three young women and their futures from Ezekiel Sims (Rahim).</p>
        <div class="h3 ml-md-4 ml-0">Cast</div>
    <div class="row mt-4 ml-md-4 mx-2" style="background-color: #020a1c; border-radius: 10px;">
      <div class="col-12">
        <div class="row px-5 pt-5 pb-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div>
        <!-- <div class="row px-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-push-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-pull-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div>
        <div class="row px-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div>
        <div class="row px-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div>
        <div class="row px-5 pb-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div> -->
      </div>
    </div>
    <div class="h3 ml-md-4 ml-0 mt-5">Crew</div>
    <div class="row mt-4 ml-md-4 mx-2 mb-4 mb-md-0 pb-4 pb-md-0" style="background-color: #020a1c; border-radius: 10px;">
      <div class="col-12">
        <div class="row px-5 pt-5 pb-5">
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">	Dakota Johnson<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Sydney Sweeney<span class="h5" style="margin-left: -30%;">Actor</span></div>
          <div class="col-6 col-md-4 text-center h3 d-flex flex-column">Isabela Merced<span class="h5" style="margin-left: -30%;">Actor</span></div>
        </div>
      </div>
    </div>
    </div>
    



  </div>
</div>

<ng-template #hoverTemplate>
  <div>
    <div class="row">
      <div class="col image-container">
        <div class="text-overlay">
          <div class="row grad1 m-0">
            <div class="col">

            </div>
          </div>
          <div class="row m-0">
            <div class="col-11"></div>
            <div clas="col">
              <i class="fa-solid fa-circle-plus" style="font-size: xx-large;"></i>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-11"></div>
            <div clas="col">
              <i class="fa-regular fa-thumbs-up py-3" style="font-size: xx-large;"></i>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-11"></div>
            <div clas="col">
              <i class="fa-regular fa-thumbs-down py-3" style="font-size: xx-large;"></i>
            </div>
          </div>
          <div class="row m-0">
            <div class="col-11"></div>
            <div clas="col">
              <i class="fa-solid fa-share-nodes py-3" style="font-size: xx-large;"></i>
            </div>
          </div>
          <div class="row m-0">
            <div class="col mx-5 my-auto">
              <div class="row mt-4 pt-4">
                <div class="col-6 px-0 my-auto">
                  <span class="text-white my-auto d-flex">
                    <img src="/assets/images/img/Group 57.png" style="width: 44px;">
                    <p class="my-auto pl-3" style="font-size: larger;">Play Madame Web</p>
                  </span>
                </div>
                <div class="col-6 px-0 my-auto">
                  <p class="my-auto" style="color: #0aa5ae; font-size: medium; border-radius: 11px;"><span class="">2h
                      20min</span><span class="pl-2">2023</span><span class="pl-2">BLURAY</span><span
                      class="pl-2">UHD</span><span class="pl-2">U/A</span><span class="pl-2">13+</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="https://i.ytimg.com/vi/s_76M4c4LTo/maxresdefault.jpg"
          style="width: 100%; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      </div>
    </div>
    <div class="border border-primary border-1"
      style="background-color: #0F1628; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; width: inherit;">
      <div class="row">
        <div class="col mx-5 my-5" style="color: #0aa5ae; font-size: medium;">
          <p>Cassandra Webb is a New York City paramedic who starts to show signs of clairvoyance. Forced to confront
            revelations about her past, she must protect three young women from a mysterious adversary who wants them
            dead.</p>
        </div>
      </div>
      <div class="row mx-5">
        <div class="col-6 py-5">
          <p class="text-white float-right" style="font-size: small;">275.00</p>
        </div>
        <div class="col-6 py-5">
          <button class="btn btn-primary rounded" style="font-size: small;"
            (click)="hoverRentClick(rentTemplate,'rentTemplate')">Rent</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #rentTemplate>
  <div class="modal-dialog model-lg modal-dialog-centered modal-dialog-scrollable m-0 modal-custom-30">
    <div class="modal-content shadow-custom-9 bg-3e4453 border-top-0 border-left-0 border-right-0"
      style="width: fit-content;">
      <!-- <div class="container-fluid py-4 bg-0F1628">
              <div class="row">
                  <div class="col-xl-12 text-center">
                      <span class="modal-title go-medium text-primary text-center font-weight-bolder h3"
                          id="langgenreLabel">Filter</span>
                      <button type="button" class="close text-right text-707070 text-shadow-0" data-dismiss="modal"
                          aria-label="Close" data-toggle="modal" data-target="#novenue">
                          <span aria-hidden="true">×</span>

                      </button>
                  </div>
              </div>
          </div> -->
      <div class="modal-body px-4 py-0 text-left bg-0F1628" id="mobile" style="width: fit-content; border-radius: 10px; overflow-x: hidden;">
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="col d-block d-md-none">
                  <i class="fa-solid fa-xmark float-right" style="font-size: large; color: #424953;" role="button"
                    (click)="closeModal()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <img src="https://i.ytimg.com/vi/s_76M4c4LTo/maxresdefault.jpg"
                    style="border-radius: 10px; max-width: 100%;height: 100%;">
                    <!-- <img src="https://i.ytimg.com/vi/s_76M4c4LTo/maxresdefault.jpg"
                    style="border-radius: 10px; width: 150px;height: 200px;" class="d-block d-md-none"> -->
                </div>

                <div class="col-6 text-white">
                  <div class="row">
                    <div class="col d-none d-md-block">
                      <i class="fa-solid fa-xmark float-right" style="font-size: large; color: #424953;" role="button"
                        (click)="closeModal()"></i>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                      <h4 style="font-size: 1.7rem;">Rent</h4>
                    </div>
                  </div>
                  <div class="row pt-5 d-none d-md-block">
                    <div class="col">
                      <div class="row mx-1">
                        <div class="col-12 col-md-6">
                          <h5 style="text-align: center;">HD</h5>
                        </div>
                        <div class="col-12 col-md-6">
                          <h5 style="text-align: center;">SD</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pb-2">
                    <div class="col">
                      <div class="row border-bottom border-primary border-2 pb-4 mx-1">
                        <div class="col-12 col-md-6 p-0 text-center text-lg-left">
                          <span class="d-block d-md-none"><h5>HD</h5></span> <button class="btn btn-primary rounded-pill px-3"
                            style="width: auto; font-size: 1.4rem;"
                            (click)="termsModal(termsTemplate,'termsTemplate')">275.00</button> </div>
                        <div class="col-12 col-md-6 p-0  text-center text-lg-right">
                          <span class="d-block d-md-none mt-2"><h5>SD</h5></span> <button
                            class="btn btn-primary rounded-pill px-3" style="width: auto; font-size: 1.4rem;">200.00</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col text-primary">
                      <div class="col p-0">
                        <p style="font-size: 1.3rem;">2h 20min English</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-primary">
                      <div class="col p-0">
                        <p style="font-size: 1.3rem;">U/A 13+ CC</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row ml-auto">
          <form class="col-xl-12">
            <div class="my-2">
              <div class="row">
                <div class="col">
                  <p class="text-primary float-right" style="font-size: 1.3rem;">Help?</p>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #termsTemplate>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content shadow-custom-9 bg-3e4453 border-top-0 border-left-0 border-right-0"
      style="width: fit-content;"
      >
      <div class="modal-body px-5 text-left bg-0F1628" id="mobileres" style="width: fit-content;border-radius: 10px; overflow-x: hidden;">
        <div class="row">
          <form class="col-xl-12 pl-0">
            <div class="my-3">
              <div class="row">
                <div class="col">
                  <i class="fa-solid fa-xmark float-right" style="font-size: large; color: #424953;" role="button"
                    (click)="closeModal()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <h4 class="text-white" style="font-size: 1.5rem;">Madame Web</h4>
                  <p class="text-primary" style="font-size: 1.3rem;">Released by Green Studio</p>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="pl-4 pl-xl-3 col-xl-6 text-white"
                  style="border: 1px solid #0aa5ae; border-radius: 10px; background-color: #3d4352;">
                  <div class="row d-flex flex-column">
                    <div class="col">
                      <div class="border border-top-0 border-left-0 border-right-0 border-primary mt-2">
                        <div style="font-size: 1.3rem;">Rental Validity<span class="float-right">5 days</span></div>
                      </div>
                    </div>
                    <div class="col">
                      <p style="font-size: 1.2rem;">You have 5 days to start Watching the movie once rented</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-xl-1"></div> -->
                <div class="pl-4 pl-xl-5 col-xl-6 text-white mt-3 mt-xl-0">
                  <div class="row d-flex flex-column"
                    style="border: 1px solid #0aa5ae; border-radius: 10px; background-color: #3d4352;">
                    <div class="col">
                      <div class="border border-top-0 border-left-0 border-right-0 border-primary mt-2">
                        <div style="font-size: 1.3rem;">Valid Till <span class="float-right">27-Dec-2023</span></div>
                      </div>
                    </div>
                    <div class="col">
                      <p style="font-size: 1.2rem;">You will have 48 hours to complete the movie, once started</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="col text-primary">
                  <ul class="p-0">
                    <li class="p-1" style="font-size: 1.3rem;">You can watch the movie mutiple times during the 4 hours period</li>
                    <li class="p-1" style="font-size: 1.3rem;">This is a non-refundable transaction</li>
                    <li class="p-1" style="font-size: 1.3rem;">This content is only available for rent and not a part of premium or club
                      subscription</li>
                    <li class="p-1" style="font-size: 1.3rem;">You can play your content on the supported devices</li>
                    <li class="p-1" style="font-size: 1.3rem;">Learn more about Lixo OTT</li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-primary rounded-pill"
                    (click)="termsModal(paymentTemplate,'paymentTemplate')" style="font-size: 1.3rem;">Rent for 275</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="col text-center">
                  <span style="font-size: 1.3rem; color: #76787d;">By Renting you agree to our <span
                      style="color: #080c84;">Terms of use</span></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #paymentTemplate>
  <div class="modal-dialog model-lg modal-dialog-centered modal-dialog-scrollable modal-custom-30">
    <div class="modal-content shadow-custom-9 bg-3e4453 border-top-0 border-left-0 border-right-0"
    style="width: fit-content;">
      <!-- <div class="container-fluid py-4 bg-0F1628">
              <div class="row">
                  <div class="col-xl-12 text-center">
                      <span class="modal-title go-medium text-primary text-center font-weight-bolder h3"
                          id="langgenreLabel">Filter</span>
                      <button type="button" class="close text-right text-707070 text-shadow-0" data-dismiss="modal"
                          aria-label="Close" data-toggle="modal" data-target="#novenue">
                          <span aria-hidden="true">×</span>

                      </button>
                  </div>
              </div>
          </div> -->
      <div class="modal-body text-left bg-0F1628 p-5 payment"  style="width: fit-content; border-radius: 10px; overflow-x: hidden;">
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3">
              <div class="row">
                <div class="col">
                  <i class="fa-solid fa-xmark float-right" style="font-size: large; color: #424953;" role="button"
                    (click)="closeModal()"></i>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4">
                  <img src="https://i.ytimg.com/vi/s_76M4c4LTo/maxresdefault.jpg" width="100%" height="180px"
                    style="border-radius: 10px;">
                </div>

                <div class=" col-xl-8 text-white">
                  <div class="row">
                    <div class="col">
                      <h4>Rent HD</h4>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col">
                      <div class="row">
                        <div class="col">
                          <h5 style="font-size: 1.5rem;">Madame Web</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row pt-3">
                    <div class="col text-primary" style="font-size: 1.3rem;">
                      <h5>2h 20min English</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-primary" style="font-size: 1.3rem;">
                      <h5>2024 - U/A - English audio (and 2 more) - CC</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <form class="col-xl-12">
            <div class="my-3" style="color: #d2d3d7;">
              <div class="row">
                <div class="col pr-3">
                  <h4><img src="assets/images/img/google.svg" style="width: 30px; height: 25px;font-size: 1.5rem;;"><span
                      style="color: #5c6166;">Pay </span> ICICI Bank: @okicici</h4>
                  <p style="font-size: 1.3rem;">Start within 30 days, finish within 48 hours after first playback.</p>
                  <p style="font-size: 1.3rem;">Playback is restrcited on some devices. See device requirements. Provided by yrf.</p>
                  <p style="font-size: 1.3rem;">Information about movie and show transactions may be shared amongst You Tube, Google TV, Google
                    Play Movies &
                    TV, and other Google Services to support your access to content and those services.
                  </p>
                  <p style="font-size: 1.3rem;">By clicking Pay now you verify that you are at least 18 years old and agree to these terms.</p>
                </div>
              </div>
              <div class="row">
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p>Subtotal</p>
                </div>
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p class="float-right pr-3">63.56</p>
                </div>
              </div>
              <div class="row">
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p>Tax</p>
                </div>
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p class="float-right pr-3">11.44</p>
                </div>
              </div>
              <div class="row">
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p>Grand Total</p>
                </div>
                <div class="col text-white" style="font-size: 1.3rem;">
                  <p class="float-right pr-3">275</p>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button class="btn btn-primary rounded-pill px-5" style="font-size: 1.3rem;">Pay Now</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>